@font-face {
    font-family: 'Barlow';
    src: url('../../fonts/barlowsemicondensed-black-webfont.woff2') format('woff2'),
         url('../../fonts/barlowsemicondensed-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('../../fonts/barlowsemicondensed-blackitalic-webfont.woff2') format('woff2'),
  url('../../fonts/barlowsemicondensed-blackitalic-webfont.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Barlow';
  src: url('../../fonts/barlowsemicondensed-regular-webfont.woff2') format('woff2'),
  url('../../fonts/barlowsemicondensed-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('../../fonts/barlowsemicondensed-italic-webfont.woff2') format('woff2'),
  url('../../fonts/barlowsemicondensed-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Barlow';
  src: url('../../fonts/barlowsemicondensed-light-webfont.woff2') format('woff2'),
  url('../../fonts/barlowsemicondensed-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('../../fonts/barlowsemicondensed-lightitalic-webfont.woff2') format('woff2'),
  url('../../fonts/barlowsemicondensed-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}