body {
    background-color: $footer-color-background;
    font-family: 'Barlow', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

header {
    background-color: $header-color-background;

    .centered-content {
        display: grid;
        grid-template-areas: "logo nav";
        grid-template-columns: auto minmax(0, 1fr);
        grid-gap: 2em;
    }

    .logo {
        grid-area: logo;
        height: 2em;
        img {
            height: 100%;
            display: block;
        }
    }

    nav {
        padding-top: 0.15em;
        grid-area: nav;
        font-family: 'Barlow', sans-serif;
        font-size: 1.5em;

        ul, li {
            display: inline-block;
        }
        

        a {
            display: inline-block;
            color: #ffffff;
            text-decoration: none;
            vertical-align: bottom;
            margin-right: $padding-small;

            .text {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 40em) {
    header {
        nav {
            a {
                .text {
                    display: inline;
                }
            }
        }
    }
}

.main-content {
    background-color: $main-background-color;   
    min-height: 40em;
}

.centered-content {
    max-width: $main-width;
    margin: 0 auto;
    padding: $padding-medium;
}

.page-content {
    padding-top: $padding-large;
}

hr {
    margin: 2em 0;
    border: 0;
    height: 0.15em;
    background-color: $color-main;
    background: linear-gradient(0.25turn, $color-main, $color-middle);
}

footer {
	background-color: $footer-color-background;
    color: $footer-color-text;

    .copyright {
        padding: $padding-medium;
        font-size: $text-medium;
        color: $footer-color-copyright-text;
        text-align: center;
    }

    .social {
        padding: $padding-medium;
        text-align: center;
        li {
            display: inline-block;
            padding: 0 $padding-x-small;
        }
        a {
            display: inline-block;
            border-radius: 100%;
            padding: $padding-small;
            background-color: #ffffff;
        }
        img {
            border-radius: 100%;
            vertical-align: bottom;
            height: 2em;
        }
    }
}
