
h1 {
    color: $text-color-title;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-size: $text-xx-large;
    padding-bottom: $padding-medium;
    margin: 0;
}

h2 {
    color: $text-color-subtitle;
    font-family: 'Barlow', sans-serif;
    font-size: $text-x-large;
    font-weight: bold;
    padding: $padding-small 0 $padding-medium 0;
}

p {
    color: $text-color-paragraph;
    line-height: 1.4em;
    margin-bottom: $padding-medium;
    text-align: justify;
    font-size: $text-medium;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a {
    color: $nav-link-color;
}