
// Sizes

$main-width: 54em;

$text-small: 1em;
$text-medium: 1.2em;
$text-large: 1.5em;
$text-x-large: 1.75em;
$text-xx-large: 2.5em;

$padding-x-small: 0.25em;
$padding-small: 0.5em;
$padding-medium: 1em;
$padding-large: 2em;

// Color Palette

$color-background: #f8f8f8;
$color-main: #002ab4;
$color-secondary: #00ccff;

$color-x-light: #eeeeee;
$color-light: #cccccc;
$color-middle: #888888;
$color-dark: #444444;
$color-x-dark: #222222;

// Main

$main-background-color: $color-background;

// Texts

$text-color-paragraph: $color-dark;
$text-color-title: $color-main;
$text-color-subtitle: $color-dark;

// Header

$header-color-background: $color-main;

// Navigation

$nav-link-color: $color-main;

// Footer

$footer-color-background: $color-x-dark;
$footer-color-text: $color-light;
$footer-color-copyright-text: $color-middle;
