{% extends 'base.html.twig' %}

{% block title %}Our games{% endblock %}

{% block body %}
    <div class="centered-content page-content page-games">
        <h1>Our games</h1>

        <ul class="games">
            <li>
                <a href={{ path('game', { name: 'squibreeze' }) }}>
                    <img class="image" src="/images/games/squibreeze/001.png" />
                    <h2 class="title">Squibreeze</h2>
                    <div class="description">
                        <p>An action/platform game like Duck Tales. Built with love using Monogame framework</p>
                        <p>Click to read more about it</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}