{% extends 'base.html.twig' %}

{% block body %}
    <div class="centered-content page-content page-home">
        <h1>Headlines</h1>

        <article>
            <h2>Squibreeze gameplay: Pogo jumps</h2>
            <p>
                One of the main moves for Squibreeze: pogo jumps! Now he can do that endlessly! Simply hold down
                when you are in the air to perform this simple move and reach higher places. We are now working on
                some little bugfixes on this but it's no big deal. Stay tuned for more soon :)
            </p>
            <iframe
                class="video"
                src="https://www.youtube.com/embed/t0RGZKKI3do"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </article>

        <hr />

        <article>
            <h2>Squibreeze gameplay: Wonder stumps</h2>
            <div class="date"><time datetime="2020/11/24">November, 24th 2020</time></div>
            <p>
                Here is some gameplay news about our game <a href={{ path('game', { name: 'squibreeze' }) }}>Squibreeze</a>.
                Recently, we coded wonder stumps mechanic.
                Our character can be thrown in the air by focusing on those stumps and so reach high areas. You can
                see by yourself.
            </p>
            <iframe
                class="video"
                src="https://www.youtube.com/embed/ext8sQMz29k"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </article>

        <hr />

        <article>
            <h2>News from nowhere</h2>
            <div class="date"><time datetime="2020/11/08">November, 8th 2020</time></div>
            <p>
                Thanks to the second COVID-19 lockdown here in France, I can spend time to the development
                of <em>Squibreeze</em> and another friend's project simply called <em>'Project Tree'</em>. As for Squibreeze,
                I just upgraded to the new Monogame Framework version 3.8 and have .NET core easy dependencies management.
                Yes I know this is very tech but I can assure you it will be easier to port the game on a bunch of
                platforms later...
            </p>
        </article>

        <hr />

        <article>
            <h2>Our website is finally here again!</h2>
            <div class="date"><time datetime="2019/10/27">October, 27th 2019</time></div>
            <p>
                After several years, is06 team is really happy to be back to share with you theirs projects.
                The most important one is Squibreeze, a Duck Tales like platformer we are working on for more
                than 2 months now. It's pretty advanced because we kept in mind to have a playable prototype
                quicky and packed with an easy level editor like Mario Maker! Keep up to date with this new
                website and on social networks below.
            </p>
        </article>
    </div>
{% endblock %}