{% extends 'base.html.twig' %}

{% block title %}Meet the team{% endblock %}

{% block body %}
    <div class="centered-content page-content page-team">
        <h1>Meet the team</h1>

        <div class="team">

            <div class="member">
                <span class="picture">
                    <img src="/images/team/metallizer.png" alt="Thomas' profile picture" />
                </span>
                <h2 class="name">Thomas Noury</h2>
                <p class="bio">
                    Passionate <strong>video game developer</strong> and player.
                    I started making games on paper in 1994.
                    The first really playable game I made was a breakout game using <em>The Games Factory</em> from Clickteam, this was in 2000.
                    Since then, I started several project that was sadly abandoned.
                    Among them, <strong>Invisible Spirit</strong> was intended to be released in 2006.
                    I tried to rewrite it in C++ (the code is still available) using <em>Irrlicht3D</em> library.
                    Now I am more focused on creating games instead of writing code, that's why I chose <em>Monogame</em> and C# to have less obstacles
                    and have finally something to release.
                </p>
            </div>
        </div>
    </div>

{% endblock %}