{% extends 'base.html.twig' %}

{% block body %}
    <div class="game-detail">

        <div class="big-picture" style="background-image: url('/images/games/squibreeze/004.png')">
            <div class="centered-content">
                <h1>Squibreeze</h1>
                <p class="synopsis">
                    Squibreeze is our upcoming Duck Tales like platformer.
                </p>

                <ul class="screenshots">
                    <li>
                        <a href="/images/games/squibreeze/001.png" target="_blank">
                            <img src="/images/games/squibreeze/001.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="/images/games/squibreeze/004.png" target="_blank">
                            <img src="/images/games/squibreeze/004.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="/images/games/squibreeze/003.png" target="_blank">
                            <img src="/images/games/squibreeze/003.png" alt="" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="centered-content page-content">

            <h2>Strongly inspired by Duck Tales</h2>

            <p>Because we are absolute fans of Duck Tales back in the NES era, we wanted to recreate that
            feeling in our way. Squibreeze is a white little cute squirrel who starts a new adventure on a giant
            world tree but he will have to deal with traps and enemies through dozens of levels.</p>

            <h2>Level making madness!</h2>

            <p>We decided to make a level editor in Squibreeze very early in the developement process because
            we want to test concepts as quickly as possible. The level editor is inspired by Mario Maker as it's
            very easy to use and can lead to quick level design.</p>

            <h2>How about tech?</h2>

            <p>This game is developed in <strong>C#</strong> using <strong>Monogame Framework</strong>.
            It can help us focus on game design and have prototypes very quickly.</p>
            
            <p>We expect to release this game on multiple platforms as the framework is.</p>

        </div>
    </div>
{% endblock %}