
.game-detail {

    .big-picture {
        text-align: center;
        padding: 2em 0;
        background-position: center top;
        background-attachment: fixed;

        h1 {
            color: #ffffff;
            font-size: 2.5em;
        }

        p {
            color: #eeeeee;
            padding-bottom: 1em;
        }
    }

    .screenshots {
        li {
            padding: 0.5em;
            width: 40%;
            display: inline-block;
        }

        a {
            background-color: black;   
            display: inline-block;
            width: 100%;
                     
            img {
                opacity: 0.75;
                width: 100%;
                vertical-align: bottom;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }   
}

@media only screen and (min-width: 30em) {
    .game-detail {
        .screenshots {
            li {
                width: 25%;
            }
        }
    }
}

.games {
    a {
        text-decoration: none;
        display: grid;
        grid-gap: 1em;
        grid-template-areas:
            "image"
            "title"
            "description";
    }

    .image {
        width: 100%;
        grid-area: image
    }

    .title {
        grid-area: title;
        padding: 0;
        margin: 0;
    }

    .description {
        grid-area: description;
    }
}

@media only screen and (min-width: 40em) {
    .games {
        a {
            grid-template-areas:
                "image title"
                "image description";
        }

        .image {
            height: 10em;
        }
    }
}