.team {
    .member {
        display: grid;
        grid-gap: 1em;
        text-align: center;


        grid-template-areas:
            "picture"
            "name"
            "bio";

        .name {
            padding: 0.5em 0 0 0;
            grid-area: name;
        }
        .picture {
            display: inline-block;
            grid-area: picture;

            img {
                border-radius: 100%;
                border: 0.2em solid #888888;
                width: 8em;
            }
        }
        .bio {
            grid-area: bio;
        }
    }
}

@media only screen and (min-width: 40em) {
    .team {
        .member {
            grid-template-areas:
                "picture name"
                "picture bio";

            text-align: left;
        }
    }
}