<footer>
    <div class="centered-content">
        <div class="social">
            <ul>
                <li><a href="https://gitlab.com/is06team" target="_blank"><img src="/images/social/gitlab.png" alt="Gitlab is06team" /></a></li>
                <li><a href="https://twitter.com/squibreezegame" target="_blank"><img src="/images/social/twitter.png" alt="Twitter Squibreeze" /></a></li>
                <li><a href="https://www.youtube.com/channel/UCJmQJ0N_VrtrAO0dTctlP9A" target="_blank"><img src="/images/social/youtube.png" alt="Youtube is06" /></a></li>
                <li><a href="https://discord.gg/x52RUH2" target="_blank"><img src="/images/social/discord.png" alt="Discord is06" /></a></li>
            </ul>
        </div>
        <div class="copyright">Copyright &copy; 2004 - 2020, is06</div>
    </div>
</footer>