<header>
    <div class="centered-content">
        <div class="logo"><img src="/images/is06logo.png" alt="is06 logo" /></div>
        <nav>
            <a href={{ path('home') }}><i class="fas fa-home"></i> <span class="text">Home</span></a>
            <a href={{ path('games') }}><i class="fas fa-gamepad"></i> <span class="text">Games</span></a>
            <a href={{ path('team') }}><i class="fas fa-user-friends"></i> <span class="text">Team</span></a>
        </nav>
    </div>
</header>