<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>is06 - {% block title %}independent video game makers, creators of Squibreeze{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <script src="https://kit.fontawesome.com/c8a09f3a5c.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include 'common/header.html.twig' %}
        <section class="main-content">
            <div class="content">
                {% block body %}{% endblock %}
            </div>
        </section>
        {% include 'common/footer.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
